/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Delius:ital,wght@0,100..900;1,100..900&display=swap');

.general {
    font-family: Delius;
}

.recherche {
    font-family: Delius;
}

.navigation {
    font-family: Delius;
}

.image {

}

.achat-livraison {
    font-family: Delius;
}

.marques {

}